@tailwind base;
@tailwind components;
@tailwind utilities;
body * {
  @apply transition-colors ease-linear duration-200;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #27272a;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
}
* {
  scroll-behavior: smooth;
}
html.dark .active-scroll-spy {
  color: #fafafa;
}
html.light .active-scroll-spy {
  color: #09090B;
}
